<div class="row">
    <h2> Tire Reference List</h2>
</div>

<div class="d-inline-flex p-2">
    <input type="text" placeholder="Filter by name" #name> 
    <button class="primary" type="button" (click)="getTireReferences(name.value)">Search</button>
    <app-custom-pagination 
        [page]="page"
        (nextPageEvent)="getNextPage()"
        (previousPageEvent)="getPreviousPage()"
        (pageSizeEvent)="getPageInNewSize($event)">
    </app-custom-pagination>
</div>

<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th> Name </th>
            <th> Size </th>
            <th> Qte</th>
            <th> Price </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tireRef of page.content" Style="height: 5%">
            <td> {{ tireRef.name }} </td>
            <td> {{ tireRef.size }} </td>
            <td> {{ tireRef.remainingQuantity }} </td>
            <td> {{ tireRef.price }} </td>
            <td>
                <button (click)="updateTireReference(tireRef.id)" class="btn btn-primary"> Update</button>
                <button (click)="deleteTireReference(tireRef.id)" class="btn btn-danger" style="margin-left: 10px">
                    Delete</button>
                <button (click)="tireReferenceDetails(tireRef.id)" class="btn btn-primary" style="margin-left: 10px">
                    View</button>
            </td>
        </tr>
    </tbody>
</table>