<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center">Update TireReference</h3>
      <hr />
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label> Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              [(ngModel)]="tireReference.name"
              name="name"
            />
          </div>

          <div class="form-group">
            <label> Size</label>
            <input
              type="text"
              class="form-control"
              id="size"
              [(ngModel)]="tireReference.size"
              name="size"
            />
          </div>

          <div class="form-group">
            <label> Qte</label>
            <input
              type="number"
              class="form-control"
              id="remainingQuantity"
              [(ngModel)]="tireReference.remainingQuantity"
              name="remainingQuantity"
            />
          </div>

          <div class="form-group">
            <label> Price</label>
            <input
              type="number"
              class="form-control"
              id="price"
              [(ngModel)]="tireReference.price"
              name="price"
            />
          </div>

          <div class="form-group">
            <br />
            <button
              type="button"
              class="btn btn-sm btn-secondary"
              (click)="addNew()"
            >
              Add batch
            </button>
            <br />
            <label> <b> Batches: </b></label>

            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Production Date</th>
                  <th>Factory Location</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let batch of tireReference.batches;
                    let indexOfelement = index
                  "
                >
                  <td>
                    <input
                      type="datetime-local"
                      class="form-control"
                      id="productionDate"
                      [(ngModel)]="
                        tireReference.batches[indexOfelement].productionDate
                      "
                      [attr.placeholder]="
                        tireReference.batches[indexOfelement].productionDate
                      "
                      [name]="batch.id + '_productionDate'"
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      id="factoryLocation"
                      [(ngModel)]="
                        tireReference.batches[indexOfelement].factoryLocation
                      "
                      [name]="batch.id + '_factoryLocation'"
                    />
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-sm btn-danger"
                      (click)="remove(indexOfelement)"
                    >
                      delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />
          <button class="btn btn-success" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
