<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="tireReferences" routerLinkActive="active" class="nav-link">TireReference List</a>
        </li>
        <li class="nav-item">
            <a routerLink="create-tireReference" routerLinkActive="active" class="nav-link">Add TireReference</a>
        </li>
    </ul>
</nav>

<h1 class="text-center"> {{title}} </h1>
<div class="container">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="container">
    </div>
</footer>