<h3> View Tire Reference Details</h3>
<div>
    <div>
        <label> <b> Id: </b></label> {{tireReference.id}}
    </div>
    <div>
        <label> <b> Name: </b></label> {{tireReference.name}}
    </div>
    <div>
        <label> <b> Size: </b></label> {{tireReference.size}}
    </div>
    <div>
        <label> <b> Qte: </b></label> {{tireReference.remainingQuantity}}
    </div>
    <div>
        <label> <b> Price: </b></label> {{tireReference.price}}
    </div>
    <div>
        <br> <label> <b> Batches: </b></label>
        
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Production Date </th>
                    <th> Factory Location</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let batch of tireReference.batches">
                    <td> {{ batch.id }} </td>
                    <td> {{ batch.productionDate | date:"d/M/YYYY"}} </td>
                    <td> {{ batch.factoryLocation }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>