<!-- src/app/pagination/components/custom-pagination/custom-pagination.component.html -->
<div *ngIf="page" class="card-actions align-items-center d-flex flex-wrap">
    <span class="align-self-center mb-1 mx-1 text-muted">Elements per page:</span>
    <div class="dropdown">
        <select #size (change)="updatePageSize(+size.value)">
            <option value=5>5</option>
            <option value=20>20</option>
            <option value=20>50</option>
        </select>
    </div> 
    <span class="align-self-center mb-1 mr-2 text-muted">
      Shows {{page.numberOfElements}} of {{page.totalElements}}
    </span>
    <a [routerLink]="[]"
      class="btn btn-outline" [ngClass]="{'disabled': page.first }"
      (click)="previousPage()">
      <i class="bi bi-chevron-right"><</i>
    </a>
    <a [routerLink]="[]"
      class="btn btn-outline" [ngClass]="{'disabled': page.last }"
      (click)="nextPage()">
      <i class="bi bi-chevron-right">></i>
    </a>
</div>
